---
import Logo from "@components/Logo.astro";
---

<section>
  <footer class="bg-gradient-to-b from-primary-green to-white py-20 px-10">
    <div
      class="container flex flex-col items-center justify-between p-6 mx-auto space-y-4 sm:space-y-0 sm:flex-row"
    >
      <a href="#">
        <Logo />
      </a>

      <p class="text-sm text-black font-rubik">
        © Copyright 2021. All Rights Reserved.
      </p>
    </div>
  </footer>
</section>
