---
// Supports weights 300-700
import '@fontsource-variable/space-grotesk';
import '@fontsource/rubik-mono-one';

interface Props {
	description: string,
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Rubik Mono One';
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Rubik Mono One';
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}
	
	html {
		font-family: 'Space Grotesk Variable', sans-serif;
		background: #fff;
	}

</style>
